@{
    ViewBag.Title = "Página Principal";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ejercicios CSS</title>
</head>
<body>
    <div>
        <h1>CSS - guía práctica</h1>

        <h2>Ejercicios</h2>

        <ul>
            <li><a href="/Ejercicios_CSS/Ejercicio1">Ejercicio 1</a></li>
        </ul>
    </div>
</body>
</html>
