@{
    ViewBag.Title = "Acerca de...";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acerca de...</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <h1>Acerca de LPPA</h1>
        <h2>Materia: Lenguajes de Programación Administración</h2>
        <p>Prof. Víctor Contreras</p>
        <p>Materia correspondiente a 4to año de la carrera Ingeniería en Sistemas</p>
    </div>
</body>
</html>
