
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acerca de...</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div> 
        <nav>
            <ul>
                <li>
                    <a href="/">Principal</a>
                </li>
            </ul>
        </nav>
        <h1>Acerca de...</h1>
        <h2>Descripción breve</h2>
        <p class="color-rojo">Contenido de la descripción</p>
    </div>
</body>
</html>
