@{
    ViewBag.Title = "Página Principal";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Página Principal</title>
</head>
<body>
    <div>
        <h1>Ejercicios LPPA</h1>
        <h2>Alumno: Hernan Cortes</h2>
        <p>
            Este sitio incluye los ejercicios individuales de la materia LPPA de la Universidad Abierta Interamericana.
        </p>
        <p>
            Correspondientes al primer cuatrimestre de 2020.
        </p>
    </div>
</body>
</html>
